<!DOCTYPE html>
<html lang="en">
<head>
    <title>minesweeper - nitzan massad</title>
    <meta name="nitzan massd" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <script src="//code.angularjs.org/snapshot/angular.min.js"></script>
    <script src="script.js"></script>
    <script src="alertScript.js"></script>


    <link rel="stylesheet" type="text/css" href="style.css">


</head>
<body >






<div  ng-app="scopeController" ng-controller="MinesweeperController" align="center">
   <label class="labelStyle">number of rows <input name="widget1.numOfRows" ng-model="widget1.numOfRows"></label>
    <label class="labelStyle">number of colms <input name="widget2.nomOfColm" ng-model="widget2.nomOfColm"></label>
    <label class="labelStyle">number of mines   <input name="widget3.nomOfMines" ng-model="widget3.nomOfMines"></label>
    <label class="labelStyle">number of flags remain    <input name="widget4.nomOfFlags" ng-model="widget4.nomOfFlags" readonly></label>
    <label>
        superman:
        <input type="checkbox" name="checkbox" ng-click="supermanBox( );" id ="superManCheckBox">
    </label>
    </br> <button ng-click="set()" class="buttonNewGame" >new game</button>
    </br>
    </br>
    </br>
    <table class="minefield"  align="center" ; >

        <tr ng-repeat="row in minefield.rows" line-height="0" border-spacing="0" padding="0">
            <td ng-repeat="spot in row.spots" ng-click="uncoverSpot(spot)" ng-right-click="onRightClick(spot)">
                <img ng-if=" spot.isFlaged  && !minefield.superman" src="photos/flag-mine.png">
                <img ng-if="(spot.isCovered && !minefield.superman)&& !spot.isFlaged" src="photos/covered.png" />
                <img ng-if="spot.content  == 'empty'&& (!spot.isCovered || minefield.superman) &&  !spot.isFlaged" src="photos/empty.png" />
                <img ng-if="spot.content == 'mine'&& (!spot.isCovered || minefield.superman) &&  !spot.isFlaged" src="photos/mine.png" />
                <img ng-if="spot.content == 1 &&(!spot.isCovered || minefield.superman) &&  !spot.isFlaged" src="photos/number-1.png" />
                <img ng-if="spot.content == 2 && (!spot.isCovered || minefield.superman) &&  !spot.isFlaged" src="photos/number-2.png" />
                <img ng-if="spot.content == 3 && (!spot.isCovered || minefield.superman) &&  !spot.isFlaged" src="photos/number-3.png" />
                <img ng-if="spot.content == 4 && (!spot.isCovered || minefield.superman) &&  !spot.isFlaged" src="photos/number-4.png" />
                <img ng-if="spot.content == 5 && (!spot.isCovered || minefield.superman) &&  !spot.isFlaged" src="photos/number-5.png" />
                <img ng-if="spot.content == 6 && (!spot.isCovered || minefield.superman) &&  !spot.isFlaged" src="photos/number-6.png" />
                <img ng-if="spot.content == 7 && (!spot.isCovered || minefield.superman) &&  !spot.isFlaged" src="photos/number-7.png" />
                <img ng-if=" spot.content == 8 && (!spot.isCovered || minefield.superman)  && !spot.isFlaged" src="photos/number-8.png" />
                <img ng-if= "spot.content == 9" src="photos/mine-wrong.png" />
                <img ng-if= "minefield.superman && spot.isFlaged && spot.content == 'mine'" src="photos/flag-mine.png" />
                <img ng-if= "minefield.superman && spot.isFlaged && (spot.content != 'mine')" src="photos/flag-mine-wrong.png" />


            </td>
        </tr>
    </table>
</div>


<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" wid>&times;</span>
        <p id="PopUpAlert" ></p>
    </div>

</div>











<!--
<div class="container">

      <button  data-toggle="modal" data-target="#myModal">Open Modal</button>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

-->
</body>


</html>
