<!DOCTYPE html>
<html lang="en">
<head>
    <title>minesweeper - nitzan massad</title>
    <meta name="nitzan massd" content="width=device-width, initial-scale=1">

    <script src="//code.angularjs.org/snapshot/angular.min.js"></script>
    <script src="script.js"></script>

    <link rel="stylesheet" type="text/css" href="style.css">



</head>
<body background="photos/empty.png">  <!--background="photos/background.gif"-->>

<!--
<div ng-app="app" ng-controller="MainCtrl">
    <input name="widget.title" ng-model="widget.title">
    <button ng-click="set('foo')">set to foo</button>
</div>
-->

<div  ng-app="scopeController" ng-controller="MinesweeperController" align="center">



   <label class="labelStyle">number of rows <input name="widget1.numOfRows" ng-model="widget1.numOfRows"></label>
    <label class="labelStyle">number of colms <input name="widget2.nomOfColm" ng-model="widget2.nomOfColm"></label>
    <label class="labelStyle">number of mines   <input name="widget3.nomOfMines" ng-model="widget3.nomOfMines"></label>
    <label class="labelStyle">number of flags remain    <input name="widget4.nomOfFlags" ng-model="widget4.nomOfFlags" readonly></label>

    <!--  <label>number of flags remain<input name="widget3.nomOfMines" ng-model="widget3.nomOfMines"></label>-->


    <label>
        superman:
        <input type="checkbox" name="checkbox" ng-click="supermanBox( );" id ="superManCheckBox">
    </label>
    </br> <button ng-click="set()" class="buttonNewGame">new game</button>
    </br>
    </br>
    </br>
    <table class="minefield"  align="center" ; >

        <tr ng-repeat="row in minefield.rows" line-height="0" border-spacing="0" padding="0">
            <td ng-repeat="spot in row.spots" ng-click="uncoverSpot(spot)">
                <img ng-if=" spot.isFlaged  && !minefield.superman" src="photos/flag-mine.png">
                <img ng-if="(spot.isCovered && !minefield.superman)&& !spot.isFlaged" src="photos/covered.png" />
                <img ng-if="(!spot.isCovered || minefield.superman) && spot.content  == 'empty'&& !spot.isFlaged" src="photos/empty.png" />
                <img ng-if="(!spot.isCovered || minefield.superman) && spot.content == 'mine'&& !spot.isFlaged" src="photos/mine.png" />
                <img ng-if="(!spot.isCovered || minefield.superman) && spot.content == 1 && !spot.isFlaged" src="photos/number-1.png" />
                <img ng-if="(!spot.isCovered || minefield.superman) && spot.content == 2 && !spot.isFlaged" src="photos/number-2.png" />
                <img ng-if="(!spot.isCovered || minefield.superman) && spot.content == 3 && !spot.isFlaged" src="photos/number-3.png" />
                <img ng-if="(!spot.isCovered || minefield.superman) && spot.content == 4 && !spot.isFlaged" src="photos/number-4.png" />
                <img ng-if="(!spot.isCovered || minefield.superman) && spot.content == 5 && !spot.isFlaged" src="photos/number-5.png" />
                <img ng-if="(!spot.isCovered || minefield.superman) && spot.content == 6 && !spot.isFlaged" src="photos/number-6.png" />
                <img ng-if="(!spot.isCovered || minefield.superman) && spot.content == 7 && !spot.isFlaged" src="photos/number-7.png" />
                <img ng-if="(!spot.isCovered || minefield.superman) && spot.content == 8 && !spot.isFlaged" src="photos/number-8.png" />
                <img ng-if= "spot.content == 9" src="photos/mine-wrong.png" />

            </td>
        </tr>
    </table>
</div>
</body>


</html>
