
<div ng-app="scopeController" ng-controller="MinesweeperController">
    <table border="10">
        <tr ng-repeat="row in minefield.rows">
            <td ng-repeat="spot in row.spots">
                {{spot.isCovered}}
            </td>
        </tr>
    </table>
</div>
<div class="container-fluid">
    <boardGame>Loading...</boardGame>
</div>

<script>


    (function(angular) {
        'use strict';
        angular.module('scopeController', [])
            .controller('MinesweeperController', ['$scope', function($scope) {
                $scope.minefield = createMinefield();

            }]);
    })(window.angular);

    function createMinefield() {
        var minefield = {};
        minefield.rows = [];

        for(var i = 0; i < 9; i++) {
            var row = {};
            row.spots = [];

            for(var j = 0; j < 9; j++) {
                var spot = {};
                spot.isCovered = true;
                row.spots.push(spot);
            }

            minefield.rows.push(row);
        }

        return minefield;
    }
</script>


